// $black:		#1D2021;
// $white:		#EBDBB2;
// $green:		#B8BB26;
// $cyan:		#8EC07C;
// $blue:		#83A598;
// $red:		#FB4934;
// $yellow:		#FABD2F;
// $magenta:	#D3869B;
// $orange:		#FE8019;
// $grey:		#665c54;

$black:		#1F1F28;
$white:		#DCD7BA;
$green:		#76946A;
$cyan:		#7AA89F;
$blue:		#7FB4CA;
$red:		#FF5D62;
$yellow:	#DCA561;
$magenta:	#957FB8;
$orange:	#FFA066;
$grey:		#727169;

* {
	all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
	background-color: $black;
	color: $white;
	padding: 10px;
	border-radius: 16px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
	all: unset;
	color: $cyan;
}

.metric scale trough highlight {
	all: unset;
	background-color: $magenta;
	color: $black;
	border-radius: 10px;
}

.metric scale trough {
	all: unset;
	background-color: $grey;
	border-radius: 50px;
	min-height: 3px;
	min-width: 50px;
	margin-left: 10px;
	margin-right: 20px;
}

.metric scale trough highlight {
	all: unset;
	background-color: $magenta;
	color: $black;
	border-radius: 10px;
}
.metric scale trough {
	all: unset;
	background-color: $grey;
	border-radius: 50px;
	min-height: 3px;
	min-width: 50px;
	margin-left: 10px;
	margin-right: 20px;
}

.workspaces {
	padding-left: 1rem;
	font-size: 24;
	color: $blue;
}

.workspaces button:hover {
	color: $yellow;
}

.volume {
	color: $green;
	font-size: 20;
}

.ram {
	color: $cyan;
	font-size: 20;
}

.disk {
	color: $yellow;
	font-size: 20;
}

.music {
	color: $grey;
	font-family: 'Iosevka';
	font-size: 14px;
	padding-left: 3rem;
	padding-right: 3rem;
}

.time_stuff {
	padding-right: 1rem;
	font-family: 'Iosevka';
	color: $white;
}

.battery {
	color: $orange;
	font-family: "Iosevka";
	font-size: 20;
}

.weather {
	font-family: "Iosevka"
}
