// $black:		#1D2021;
// $white:		#EBDBB2;
// $green:		#B8BB26;
// $cyan:		#8EC07C;
// $blue:		#83A598;
// $red:		#FB4934;
// $yellow:		#FABD2F;
// $magenta:	#D3869B;
// $violet:		#D3869B;
// $orange:		#FE8019;
// $grey:		#665c54;

$black:		#1F1F28;
$white:		#DCD7BA;
$green:		#76946A;
$cyan:		#597B75;
$blue:		#7FB4CA;
$red:		#FF5D62;
$yellow:	#DCA561;
$magenta:	#957FB8;
$violet:	#d27e99;
$orange:	#FFA066;
$grey:		#727169;

$radius: 16px;
$padding: 1.5rem;
$font_size: 14px;
$font_weight: 600;
$font: "Iosevka";

* {
	all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
	background-color: rgba($color: $black, $alpha: 0.0);
}

.workspaces {
	border-radius: $radius;
	padding-left: $padding;
	padding-right: $padding;
	font-size: 24;
	background-color: $cyan;
	color: $black;
}

.battery {
	background-color: $yellow;
	border-radius: $radius;
	padding-right: $padding;
	padding-left: $padding;
	color: $black;
	font-family: $font;
	font-size: $font_size;
	font-weight: $font_weight;
}

.volume {
	background-color: $blue;
	border-radius: $radius;
	padding-right: $padding;
	padding-left: $padding;
	color: $black;
	font-family: $font;
	font-size: $font_size;
	font-weight: $font_weight;
}

.ram {
	background-color: $green;
	border-radius: $radius;
	padding-right: $padding;
	padding-left: $padding;
	color: $black;
	font-size: 20;
	font-family: $font;
	font-size: $font_size;
	font-weight: $font_weight;
}

.disk {
	background-color: $violet;
	border-radius: $radius;
	padding-right: $padding;
	padding-left: $padding;
	color: $black;
	font-family: $font;
	font-size: $font_size;
	font-weight: $font_weight;
}

.time_stuff {
	color: $black;
	border-radius: $radius;
	padding-right: $padding;
	padding-left: $padding;
	font-family: $font;
	font-size: $font_size;
	background-color: $magenta;
	font-weight: $font_weight;
}

.music {
	background-color: $grey;
	color: $black;
	border-radius: $radius;
	font-family: $font;
	font-weight: $font_weight;
	font-size: $font_size;
	padding-left: $padding;
	padding-right: $padding;
}
